<%= form_with(model: [:admin, volunteer_submission], class: "contents") do |form| %>
  <% if volunteer_submission.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 rounded-md mb-5">
      <h2 class="font-bold mb-2"><%= pluralize(volunteer_submission.errors.count, "error") %> prohibited this submission from being saved:</h2>
      <ul>
        <% volunteer_submission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :status, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.select :submission_status, VolunteerSubmission.submission_statuses.keys.map { |s| [s.titleize, s] }, {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
  </div>
<% end %>